In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [16]:
location = "C:/Users/chrys/Data Science 101/Chocolate-Ratings/Data/flavors_of_cacao.csv"
DF = pd.read_csv(location)
DF.columns = DF.columns.str.replace('\n', '')
DF.rename(columns={'Specific Bean Origin or Bar Name': 'BarName'}, inplace = True)
DF

,Company,BarName,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Broad BeanOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

**Final Project Outline**

By Selene Myhre

In [17]:
columns = ['Rating','BarName','Company','CocoaPercent']
DF[columns].sort_values(by = 'Rating',ascending = False)

      Rating             BarName                 Company CocoaPercent
78       5.0               Chuao                  Amedei          70%
86       5.0       Toscano Black                  Amedei          70%
222      4.0               Kaori                  Bonnat          75%
76       4.0           Porcelana                  Amedei          70%
1663     4.0  Roxborough, Tobago  Tobago Estate (Pralus)          70%
...      ...                 ...                     ...          ...
245      1.5         One Hundred                  Bonnat         100%
437      1.0            Principe         Claudio Corallo         100%
465      1.0  Sensations Intense      Cote d' Or (Kraft)          70%
326      1.0              Baking               Callebaut          70%
1175     1.0                Dark     Neuhaus (Callebaut)          73%

[1795 rows x 4 columns]

Which countries produce the highest rated chocolate bars? Alternatively, which ones produce the most chocolate above average?

Note that all chocolate in this study is dark.