In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [9]:
location = "C:/Users/chrys/Data Science 101/Chocolate-Ratings/Data/flavors_of_cacao.csv"
DF = pd.read_csv(location)
DF.columns = DF.columns.str.replace('\n', '')
DF.rename(columns{'Specific Bean Origin or Bar name': 'BarName'}, inplace = True)
show(DF)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4269441754.py, line 4)

**Final Project Outline**

By Selene Myhre

In [4]:
columns = ['Rating','Specific Bean Origin or Bar Name','Company','CocoaPercent']
DF[columns].sort_values(by = 'Rating',ascending = False)

,Rating,Specific Bean Origin or Bar Name,Company,CocoaPercent
78,5.0,Chuao,Amedei,70%
86,5.0,Toscano Black,Amedei,70%
222,4.0,Kaori,Bonnat,75%
76,4.0,Porcelana,Amedei,70%
1663,4.0,"Roxborough, Tobago",Tobago Estate (Pralus),70%
...,...,...,...,...
245,1.5,One Hundred,Bonnat,100%
437,1.0,Principe,Claudio Corallo,100%
465,1.0,Sensations Intense,Cote d' Or (Kraft),70%
326,1.0,Baking,Callebaut,70%
1175,1.0,Dark,Neuhaus (Callebaut),73%

Which countries produce the highest rated chocolate bars?